{% extends "base.html.twig" %}

{% block body %}
<h1>Liste des livres</h1>


<p>
	<a href="#">Créer un livre</a>
</p>


{% if books is empty %}
	<p>Il n'y a pas encore de livres</p>
{% else %}

<table>
	<thead>
		<tr>
			<th>Identifiant</th>
			<th>Titre</th>
            <th>Date de créationr</th>
			<th>Date de mise à jour</th>
            <th>Actions</th>
		</tr>
	</thead>
	<tbody>
    {% for book in books %}
			<tr>
				<td>{{ book.id }}</td>
				<td>{{ book.title }}</td>
                <td>{{ book.updatedAt|date('d/m/Y à h:i') }}</td>
				<td>{{ book.updatedAt|date('d/m/Y à h:i') }}</td>
				<td>
					<a href="{{ path('app_admin_book_update', {
						id: book.id,
					}) }}">Modifier</a>
					<a href="{{ path('app_admin_book_delete', {
						id: book.id
					}) }}">Supprimer</a>
				</td>
			</tr>
		{% endfor %}
	</tbody>
</table>

{% endif %}
{% endblock %}

{# Ajout de la correction de la modification d'un livre #}